<div class="row justify-content-md-center px-10 vh-100">
  <div class="col-lg-4 col-md-6 my-auto main-card p-3">
    <div class="head-font text-center">
      Giriş
    </div>
    <hr class="my-3">
    <div class="p-3">
      E-Mail
      <dx-text-box placeholder="E-Mailiniiz giriniz"></dx-text-box>
    </div>
    <div class="p-3">
      Şifre
      <dx-text-box placeholder="Şifrenizi giriniz"></dx-text-box>
      <div class="py-2 click" align="right">Şifreni mi unuttun?</div>
    </div>
    <div class="p-3">
      <dx-button class="w-100" type="default" [routerLink]="['/home']" text="Giriş"></dx-button>
    </div>
  </div>
</div>
